@import '../styles/_variables.scss';

.home{
    width: 100%;
    height: 760px;
    background-color: $vdblue;
    position: relative;
    .content_parent{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 35%;
        .content_{
            display: flex;
            flex-direction: column;
            .header_{
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h1{
                    color: $vlgray;
                }
            }
            .input_{        
                color: $vlgray;
                margin-bottom: 20px;
            }
            .box_{
                background-color: $vddblue;
            }
            h2{
                width: 100%;
                color: $dgblue;
                text-align: center;
                font-size: $fontsize;
            }
        }
    }
    
}